extends ../layout

block content
  h1 Invita con Cage

  form(action=INVITATIONS_URL, method='post')

    .form-row
      label(for="title") Titulo:
      input#title(type="text", name="title", required)
    
    .form-row
      p Selecciona a tu nicolas
      .pictures-row
        .picture-field
          label(for="nicolas_01")
            img(src="pictures/nicolas_princess_01.gif", alt="first picture")
            input#nicolas_01(
              type="radio",
              name='picture',
              value='nicolas_princess_01.gif',
              required
            )

        .picture-field
          label(for="nicolas_02")
            img(src="pictures/nicolas_princess_02.gif", alt="first picture")
            input#nicolas_02(
              type="radio",
              name='picture',
              value='nicolas_princess_02.gif',
              required
            )

        .picture-field
          label(for="nicolas_03")
            img(src="pictures/nicolas_princess_03.gif", alt="first picture")
            input#nicolas_03(
              type="radio",
              name='picture',
              value='nicolas_princess_03.gif',
              required
            )
      
    .form-row
      label(for="text") Text:
      textarea#text(name="text", rows="2", required)

    .actions
      button(type="submit") Submit
