extends ../layout

block content
  h1 #{__("Invite with Cage")}

  .internalization
    a(href="?lang=en") en
    a(href="?lang=es") es
    a(href="?lang=ca") ca

  form(action=INVITATIONS_URL, method='post')

    .form-row
      label(for="title") #{__("Title")}:
      input#title(type="text", name="title", required)
    
    .form-row
      p #{__("Select your Nicolas")}
      .pictures-row
        .picture-field
          label(for="nicolas_01")
            img(src="/pictures/nicolas_princess_01.gif", alt=__("Cinderella Nicolas"))
            input#nicolas_01(
              type="radio",
              name='picture',
              value='nicolas_princess_01.gif',
              required
            )

        .picture-field
          label(for="nicolas_02")
            img(src="/pictures/nicolas_princess_02.gif", alt="second picture")
            input#nicolas_02(
              type="radio",
              name='picture',
              value='nicolas_princess_02.gif',
              required
            )

        .picture-field
          label(for="nicolas_03")
            img(src="/pictures/nicolas_princess_03.gif", alt=" picture")
            input#nicolas_03(
              type="radio",
              name='picture',
              value='nicolas_princess_03.gif',
              required
            )
      
    .form-row
      label(for="text") #{__("Description")}:
      textarea#text(name="text", rows="3", required)

    .actions
      button(type="submit") #{__("Create")}
